@page "/"
@inject View.AppState AppState
<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>
<p>Hi</p>

<button @onclick="Clicked">Click</button>
@code {
    private void Clicked()
    {
        AppState.Counter++;
    }
}
