@page "/"
@inject MadeLib.Src.ThemeCollection themeCollection  
<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>
<p>Hi</p>
<a href="FetchData">О сайте</a>
<button @onclick="Clicked">Click</button>
@code {
    private void Clicked()
    {
        Src.Theme theme = new Src.Theme("n1",
        "123123", 
        "123123", 
        "123123", 
        "123123", 
        "123123", 
        "123123",
        "123123",
        "123123",
        "123123",
        "123123",
        "123123");
        theme.TrySaveToFile();
    }
}
