@page "/projectPage"
@inject MadeLib.Src.ProjectManager projectManager
@inject IJSRuntime JSRuntime;
<p>Project page</p>
<p>@ProjectManager.CurrentProject.Name</p>
<p>@ProjectManager.CurrentProject.Version</p>
<p>@ProjectManager.CurrentProject.Loader</p>
<p>@ProjectManager.CurrentProject.FullPath</p>
