@page "/projectPage"
@inject MadeLib.Src.ProjectManager projectManager
@inject IJSRuntime JSRuntime;


<p>@ProjectManager.CurrentProject.Name</p>
<p>@ProjectManager.CurrentProject.FullPath</p>
<TabsContrainer/>



<h3>Страница с Перетаскиваемыми Вкладками</h3>

<DraggableTabs />