@page "/startingActions"
@inject MadeLib.Src.ProjectManager projectManager
@inject NavigationManager NavManager
<link href="_content/MadeLib/css/pages/startingActions.css" rel="stylesheet" />


<label id="project-header" class="project-header">Your projects</label>
<div class="projects-container" id="projects-container">
    @foreach (MadeProject project in projectManager.PinnedProjects)
    {

    }
    @if (projectManager.PinnedProjects != null && projectManager.PinnedProjects.Count > 0)
    {
        <div class="pinned-projects-divider"></div>
    }
    @foreach (MadeProject project in projectManager.Projects)
    {
        <div class="project-item" @onclick="() => projectItemClicked(project.PathToFolder)">
            <label class="project-text-name">@project.Name</label>
            <label class="project-text-path">@project.FullPath</label>
            <svg class="project-more-button" fill="#000000" version="1.1" viewBox="0 0 342.382 342.382" xml:space="preserve">
                <path d="M45.225,125.972C20.284,125.972,0,146.256,0,171.191c0,24.94,20.284,45.219,45.225,45.219c24.926,0,45.219-20.278,45.219-45.219C90.444,146.256,70.151,125.972,45.225,125.972z" />
                <path d="M173.409,125.972c-24.938,0-45.225,20.284-45.225,45.219c0,24.94,20.287,45.219,45.225,45.219c24.936,0,45.226-20.278,45.226-45.219C218.635,146.256,198.345,125.972,173.409,125.972z" />
                <path d="M297.165,125.972c-24.932,0-45.222,20.284-45.222,45.219c0,24.94,20.29,45.219,45.222,45.219 c24.926,0,45.217-20.278,45.217-45.219C342.382,146.256,322.091,125.972,297.165,125.972z" />
            </svg>
            <label class="project-text-version">@project.Loader @project.Version</label>
        </div>
    }
</div>
<div class="action-btns-container">
    <p class="work-starting-text">Start working</p>
    <a class="action-btn no-underline" href="/createNewProject">
        <div class="action-name">Create new project</div>
        <svg class="action-icon" viewBox="0 0 24 24" fill="none">
            <path d="M20 10.5V6.8C20 5.11984 20 4.27976 19.673 3.63803C19.3854 3.07354 18.9265 2.6146 18.362 2.32698C17.7202 2 16.8802 2 15.2 2H8.8C7.11984 2 6.27976 2 5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803C4 4.27976 4 5.11984 4 6.8V17.2C4 18.8802 4 19.7202 4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673C6.27976 22 7.11984 22 8.8 22H12M14 11H8M10 15H8M16 7H8M18 21V15M15 18H21"
                  stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <label class="action-info">Open already existing mod pack folder and start using Made in it</label>
    </a>
    <div class="action-btn" id="openExistingProjectBtn" @onclick="()=>openProjectItemClicked()">
        <div class="action-name">Open project</div>
        <svg class="action-icon" viewBox="0 0 24 24" fill="none">
            <path d="M14 11H8M10 15H8M16 7H8M20 10.5V6.8C20 5.11984 20 4.27976 19.673 3.63803C19.3854 3.07354 18.9265 2.6146 18.362 2.32698C17.7202 2 16.8802 2 15.2 2H8.8C7.11984 2 6.27976 2 5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803C4 4.27976 4 5.11984 4 6.8V17.2C4 18.8802 4 19.7202 4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673C6.27976 22 7.11984 22 8.8 22H11.5M22 22L20.5 20.5M21.5 18C21.5 19.933 19.933 21.5 18 21.5C16.067 21.5 14.5 19.933 14.5 18C14.5 16.067 16.067 14.5 18 14.5C19.933 14.5 21.5 16.067 21.5 18Z"
                  stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <label class="action-info">Open an already existing .madeProject file and modify it</label>
    </div>
    <div class="action-btn">
        <div class="action-name">Use without mod pack</div>
        <svg class="action-icon" viewBox="0 0 24 24" fill="none">
            <path d="M20 11.9412V6.8C20 5.11984 20 4.27976 19.673 3.63803C19.3854 3.07354 18.9265 2.6146 18.362 2.32698C17.7202 2 16.8802 2 15.2 2H8.8C7.11984 2 6.27976 2 5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803C4 4.27976 4 5.11984 4 6.8V17.2C4 18.8802 4 19.7202 4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673C6.27976 22 7.11984 22 8.8 22H14M14 11H8M10 15H8M16 7H8M15 17H21"
                  stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <label class="action-info">Use Made functionality without mod pack</label>
    </div>
</div>
@code{
    private EventCallback projectItemClicked(string FolderPath)
    {
        ProjectManager.CurrentProject = projectManager.Projects.FirstOrDefault(i => i.PathToFolder == FolderPath);
        NavManager.NavigateTo("/projectPage");
        return new EventCallback();
    }
    private void openProjectItemClicked()
    {
        string? pathToProject = projectManager.ChooseProject();
        if (pathToProject != null)
        {
            ProjectManager.CurrentProject = projectManager.Projects.FirstOrDefault(i => i.FullPath == pathToProject);
            NavManager.NavigateTo("/projectPage");
        }
    }
}