.action-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2.5vw;
    padding-left: calc(10vw - 25px - 2vh);
    padding-right: calc(10vw - 25px - 2vh);
}


.action-button {
    box-sizing: border-box;
    height: calc(5vh + 2.1vw + 60px);
    width: calc(10vw + 2vh + 100px);
    display: grid;
    grid-template-rows:4fr 7fr;
    border: calc(0.12vw + 0.12vh) solid var(--front);
    border-radius: calc(0.25vw + 0.25vh + 8px);
    padding: 1vh;
    cursor: pointer;
    transition: 0.1s;
}
    .action-button:hover {
        transform: scale(1.03);
        background-color: var(--back-2);
    }
.action-button-main-label {
    color: var(--front-3);
    font-family: 'Figtree';
    font-size: calc(0.7vh + 0.82vw + 6px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.action-button-hint-label {
    color: var(--front);
    font-family: 'Bahnschrift';
    font-size: calc(0.5vh + 0.5vw + 8px);
    text-align: center;
    cursor: pointer;
}

.default-select {
    color: var(--front);
    background-color: var(--back-2);
    font-family: 'Figtree';
    outline: none;
    border: 1px solid transparent;
    border-radius: calc(2px + 0.12vw + 0.12vh);
}