.action-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2.5vw;
    padding-left: calc(10vw - 25px - 2vh);
    padding-right: calc(10vw - 25px - 2vh);
}


.action-button {
    box-sizing: border-box;
    height: calc(5vh + 2.1vw + 60px);
    width: calc(10vw + 2vh + 100px);
    display: grid;
    grid-template-rows: 4fr 7fr;
    border: calc(0.12vw + 0.12vh) solid var(--front);
    border-radius: calc(0.25vw + 0.25vh + 8px);
    padding: 1vh;
    cursor: pointer;
    transition: 0.1s;
}

    .action-button:hover {
        transform: scale(1.03);
        background-color: var(--back-2);
    }

.action-button-main-label {
    color: var(--front-3);
    font-family: 'Figtree';
    font-size: calc(0.7vh + 0.82vw + 6px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.action-button-hint-label {
    color: var(--front);
    font-family: 'Bahnschrift';
    font-size: calc(0.5vh + 0.5vw + 8px);
    text-align: center;
    cursor: pointer;
}

.default-select {
    color: var(--front);
    background-color: var(--back-2);
    font-family: 'Figtree';
    outline: none;
    border: 1px solid transparent;
    border-radius: calc(2px + 0.12vw + 0.12vh);
    padding-left: calc(2px + 0.08vw + 0.12vh);
}


[data-type="suggestions-container"] {
    position: absolute;
    max-height: calc(80px + 8vh);
    overflow-y: auto;
    width: 200px;
    z-index: 1000;
    background-color: var(--back);
    border: 1px solid var(--back-3);
    color: var(--front);
    font-family: Bahnschrift;
    font-weight: 600;
    font-size: calc(0.36vh + 0.36vw + 9px);
    margin-left: 16px;
}

    [data-type="suggestions-container"] .active {
        background-color: var(--back-3);
        color: var(--front-3);
    }

    [data-type="suggestions-container"] div:hover {
        background-color: var(--back-2);
    }

    [data-type="suggestions-container"]::-webkit-scrollbar {
        width: calc(0.15vw + 5px);
        max-width: calc(6px);
    }

    [data-type="suggestions-container"]::-webkit-scrollbar-track {
        background-color: var(--back-2);
    }

    [data-type="suggestions-container"]::-webkit-scrollbar-thumb {
        background-color: var(--front-2);
        height: calc(2vh + 5px);
        border: 1px solid transparent;
        border-radius: calc(2px + 0.12vw + 0.12vh);
    }

        [data-type="suggestions-container"]::-webkit-scrollbar-thumb:hover {
            background-color: var(--bright);
        }

input[data-suggestions] {
    position: relative;
}

.default-input-label {
    color: var(--front);
    font-family: 'Figtree';
    font-weight: 600;
    font-size: calc(0.9vh + 0.71vw + 8px);
    padding-right: calc(1px + 0.25vw + 0.25vh);
}

.default-input {
    height: calc(1.6vh + 8px + 0.25vw);
    width: calc(20vw + 60px + 1vh);
    background-color: var(--back-2);
    border: 1px solid transparent;
    border-radius: calc(2px + 0.05vw + 0.1vh);
    font-family: 'Figtree';
    font-size: calc(0.88vh + 0.6vw + 7px);
    font-weight: 300;
    color: var(--front);
    padding-left: calc(1px + 0.25vw + 0.25vh);
    padding-right: calc(1px + 0.25vw + 0.25vh);
}

.default-input-num {
    height: calc(1.6vh + 8px + 0.25vw);
    width: calc(2.5vw + 5px + 1vh);
    background-color: var(--back-2);
    border: 1px solid transparent;
    border-radius: calc(1px + 0.04vw + 0.1vh);
    font-family: 'Figtree';
    font-size: calc(0.88vh + 0.6vw + 7px);
    font-weight: 300;
    color: var(--front);
    text-align: center;
}

    .default-input-num::-webkit-inner-spin-button,
    .default-input-num::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.default-input:focus {
    outline: none;
    background-color: var(--back-3);
}

.default-input-num:focus {
    outline: none;
    background-color: var(--back-3);
}

.count-margin-left {
    margin-left: calc(1vw + 10px + 2vh);
}

.input-line {
    width: calc(75% + 120px);
}

.default-submit {
    position:absolute;
    right: calc(10px + 2%);
    bottom: calc(6px + 2%);
    height: calc(2vh + 24px + 0.2vw);
    width: calc(4.2vw + 88px + 2.3vh);
    background-color: var(--bright-2);
    border: 1px solid transparent;
    border-radius: calc(3px + 0.09vw + 0.1vh);
    font-family: 'Figtree';
    font-size: calc(0.55vh + 0.55vw + 11px);
    font-weight: 300;
    color: var(--front);
    cursor: pointer;
    transition: 0.08s;
}

    .default-submit:hover {
        transform: scale(1.02);
        background-color: var(--bright-3);
    }

.default-error-label {
    position: absolute;
    color: var(--warning-bright);
    bottom: calc(25px + 0.8vh);
    font-family: 'Figtree';
    font-size: calc(0.5vh + 0.65vw + 12px);
    z-index: 1000;
}

.default-radio {
    display: none;
}

.default-radio-container {
    padding-left: calc(24px + 0.55vw + 0.55vh);
    position: relative;
    cursor: pointer;
    width:100%;
    display: flex;
    align-items: center;
}

.default-radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(10px + 0.5vw + 0.5vh);
    height: calc(10px + 0.5vw + 0.5vh);
    border: calc(2px + 0.05vw + 0.05vh) solid transparent;
    border-radius: 50%;
    background-color: var(--back-3);
}
.default-radio-label {
    color: var(--front);
    font-family: 'Figtree';
    font-weight: 600;
    font-size: calc(1vw + 7px);
    white-space: nowrap;
}

.default-radio-container:hover .default-radio-label::before {
    border-color: var(--front-2);
}

.default-radio-container:hover .default-radio-label {
    color: var(--front-2);
}

.default-radio:checked + .default-radio-label {
    color: var(--front-3);
}

    .default-radio:checked + .default-radio-label::before {
        border-color: var(--front-3);
    }


.custom-checkbox-label input {
    display: none;
}

.custom-checkbox-label{
    color: var(--front);
    font-family: 'Figtree';
    font-weight: 600;
    font-size: calc(0.7vw + 0.7vh + 9px);
    white-space: nowrap;
}

    .custom-checkbox-label .checkmark {
        position: relative;
        top: 0;
        left: calc(0.1vw + 2px);
        aspect-ratio: 1/1;
        height: calc(14px + 0.22vw + 0.22vh);
        background-color: var(--back-2);
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        border: calc(2px + 0.05vw + 0.05vh) solid transparent;
        border-radius: 10%;
    }
.custom-checkbox-label:hover input ~ .checkmark {
    background-color: var(--back-3);
}
.custom-checkbox-label input:checked ~ .checkmark {
    background-color: var(--front-3);
}
.custom-checkbox-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;

}
.custom-checkbox-label input:checked ~ .checkmark:after {
    display: block;
}
    .custom-checkbox-label .checkmark:after {
        width: 25%;
        height: 60%;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        left: 52%;
        top: 46%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
