.action-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2.5vw;
    padding-left: calc(10vw - 25px - 2vh);
    padding-right: calc(10vw - 25px - 2vh);
}


.action-button {
    box-sizing: border-box;
    height: calc(5vh + 2.1vw + 60px);
    width: calc(10vw + 2vh + 100px);
    display: grid;
    grid-template-rows: 4fr 7fr;
    border: calc(0.12vw + 0.12vh) solid var(--front);
    border-radius: calc(0.25vw + 0.25vh + 8px);
    padding: 1vh;
    cursor: pointer;
    transition: 0.1s;
}

    .action-button:hover {
        transform: scale(1.03);
        background-color: var(--back-2);
    }

.action-button-main-label {
    color: var(--front-3);
    font-family: 'Figtree';
    font-size: calc(0.7vh + 0.82vw + 6px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.action-button-hint-label {
    color: var(--front);
    font-family: 'Bahnschrift';
    font-size: calc(0.5vh + 0.5vw + 8px);
    text-align: center;
    cursor: pointer;
}

.default-select {
    color: var(--front);
    background-color: var(--back-2);
    font-family: 'Figtree';
    outline: none;
    border: 1px solid transparent;
    border-radius: calc(2px + 0.12vw + 0.12vh);
}


[data-type="suggestions-container"] {
    position: absolute;
    max-height: calc(80px + 8vh);
    overflow-y: auto;
    width: 200px;
    z-index: 1000;
    background-color: var(--back);
    border: 1px solid var(--back-3);
    color: var(--front);
    font-family: Bahnschrift;
    font-weight: 600;
    font-size: calc(0.36vh + 0.36vw + 9px);
    margin-left: 16px;
}

    [data-type="suggestions-container"] .active {
        background-color: var(--back-3);
        color: var(--front-3);
    }

    [data-type="suggestions-container"] div:hover {
        background-color: var(--back-2);
    }

    [data-type="suggestions-container"]::-webkit-scrollbar {
        width: calc(0.15vw + 5px);
        max-width: calc(6px);
    }

    [data-type="suggestions-container"]::-webkit-scrollbar-track {
        background-color: var(--back-2);
    }

    [data-type="suggestions-container"]::-webkit-scrollbar-thumb {
        background-color: var(--front-2);
        height: calc(2vh + 5px);
        border: 1px solid transparent;
        border-radius: calc(2px + 0.12vw + 0.12vh);
    }

        [data-type="suggestions-container"]::-webkit-scrollbar-thumb:hover {
            background-color: var(--bright);
        }

input[data-suggestions] {
    position: relative;
}

.default-input-label {
    color: var(--front);
    font-family: 'Figtree';
    font-weight: 600;
    font-size: calc(0.9vh + 0.71vw + 8px);
    padding-right: calc(1px + 0.25vw + 0.25vh);
}

.default-input {
    height: calc(1.6vh + 8px + 0.25vw);
    width: calc(20vw + 60px + 1vh);
    background-color: var(--back-2);
    border: 1px solid transparent;
    border-radius: calc(2px + 0.05vw + 0.1vh);
    font-family: 'Figtree';
    font-size: calc(0.88vh + 0.6vw + 7px);
    font-weight: 300;
    color: var(--front);
    padding-left: calc(1px + 0.25vw + 0.25vh);
    padding-right: calc(1px + 0.25vw + 0.25vh);
}

.default-input-num {
    height: calc(1.6vh + 8px + 0.25vw);
    width: calc(2.5vw + 5px + 1vh);
    background-color: var(--back-2);
    border: 1px solid transparent;
    border-radius: calc(1px + 0.04vw + 0.1vh);
    font-family: 'Figtree';
    font-size: calc(0.88vh + 0.6vw + 7px);
    font-weight: 300;
    color: var(--front);
    text-align:center;
}
    .default-input-num::-webkit-inner-spin-button,
    .default-input-num::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
input:focus {
    outline: none;
    background-color: var(--back-3);
    
}
.count-margin-left {
    margin-left:calc(1vw + 10px + 2vh);
}
.input-line
{
    width:80%;
}
.default-submit {
    position: absolute;
    right: calc(10px + 2%);
    bottom: calc(10px + 2%);
    height: calc(2vh + 24px + 0.2vw);
    width: calc(4vw + 78px + 2vh);
    background-color: var(--bright-2);
    border: 1px solid transparent;
    border-radius: calc(2px + 0.05vw + 0.1vh);
    font-family: 'Figtree';
    font-size: calc(0.55vh + 0.55vw + 11px);
    font-weight: 300;
    color: var(--front);
    cursor: pointer;
}
    .default-submit:hover {
        background-color: var(--bright-3);
    }
.default-error-label {
    color: var(--warning-main);
}