.action-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2.5vw;
    padding-left: calc(10vw - 25px - 2vh);
    padding-right: calc(10vw - 25px - 2vh);
}


.action-button {
    box-sizing: border-box;
    height: calc(5vh + 2.1vw + 60px);
    width: calc(10vw + 2vh + 100px);
    display: grid;
    grid-template-rows: 4fr 7fr;
    border: calc(0.12vw + 0.12vh) solid var(--front);
    border-radius: calc(0.25vw + 0.25vh + 8px);
    padding: 1vh;
    cursor: pointer;
    transition: 0.1s;
}

    .action-button:hover {
        transform: scale(1.03);
        background-color: var(--back-2);
    }

.action-button-main-label {
    color: var(--front-3);
    font-family: 'Figtree';
    font-size: calc(0.7vh + 0.82vw + 6px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.action-button-hint-label {
    color: var(--front);
    font-family: 'Bahnschrift';
    font-size: calc(0.5vh + 0.5vw + 8px);
    text-align: center;
    cursor: pointer;
}

.default-select {
    color: var(--front);
    background-color: var(--back-2);
    font-family: 'Figtree';
    outline: none;
    border: 1px solid transparent;
    border-radius: calc(2px + 0.12vw + 0.12vh);
}


[data-type="suggestions-container"] {
    position: absolute;
    max-height: calc(80px + 8vh);
    overflow-y: auto;
    width: 200px;
    z-index: 1000;
    background-color: var(--back);
    border: 1px solid var(--back-3);
    color: var(--front);
}

    [data-type="suggestions-container"] div:hover {
        background-color: var(--back-2);
    }

    [data-type="suggestions-container"] .active {
        background-color: var(--back-3);
    }

    [data-type="suggestions-container"]::-webkit-scrollbar {
        width: calc(0.3vw + 4px);
        max-width: calc(9px);
    }
    [data-type="suggestions-container"]::-webkit-scrollbar-track {
        background-color: var(--back-2);
    }

    [data-type="suggestions-container"]::-webkit-scrollbar-thumb {
        background-color: var(--front-2);
        height: calc(2vh + 5px);
    }

        [data-type="suggestions-container"]::-webkit-scrollbar-thumb:hover {
            background-color: var(--bright);
        }

input[data-suggestions] {  
    position: relative;
}

.input-container {
    position: relative;
}
