.vanila-recipe-container {
    height: 100%;
    width: 100%;
}

.vanila-type-select {
    height: calc(1vh + 25px + 0.6vw);
    width: calc(80px + 7vw + 2vh);
    font-size: calc(0.78vh + 0.58vw + 7px);
    position: absolute;
    top: 4%;
    left: 3%;
    z-index: 100;
}

.stonecutter-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.furnace-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crafting-table-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crafting-table-main-content-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(4px + 1vw + 1vh);
}

.recpe-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    height: 96%;
    width: 94%;
    display: block;
}

.furnace-radios-container {
    width: calc(150px + 20vw + 12vh);
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: right;
    grid-gap: calc(2px + 1.2vw + 0.4vh);
    margin-top: 2vh;
}

.furnace-additional-type-label {
    font-family: 'Figtree';
    font-size: calc(0.28vh + 1vw + 7px);
    font-weight: 300;
    color: var(--front);
    position: absolute;
    left: calc(12.5% - 60px);
}

.crafting-table-letters-zone {
    margin-top:20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr calc(18px + 2vh + 0.5vw);
    background-color:darkgoldenrod;
}

.crafting-table-grid-zone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crafting-table-grid-div-container {
    max-width: 100%;
    height: calc(60px + 44%);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crafting-table-grid-div {
    width: 100%;
    background-color: var(--front-2);
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: calc(4px + 0.13vw + 0.13vh);
    border-radius: calc(0.45vh + 0.45vw + 2px);
    border: calc(3px + 0.13vw + 0.13vh) solid var(--front-2);
}

    .crafting-table-grid-div > div {
        align-self: center;
        justify-self: center;
        background-color: var(--back);
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
    }

        .crafting-table-grid-div > div:nth-child(1) {
            border-top-left-radius: calc(0.45vh + 0.45vw + 1px);
        }

        .crafting-table-grid-div > div:nth-child(3) {
            border-top-right-radius: calc(0.45vh + 0.45vw + 1px);
        }

        .crafting-table-grid-div > div:nth-child(7) {
            border-bottom-left-radius: calc(0.45vh + 0.45vw + 1px);
        }

        .crafting-table-grid-div > div:nth-child(9) {
            border-bottom-right-radius: calc(0.45vh + 0.45vw + 1px);
        }

.crafting-table-letters-container {
    overflow-y: auto;
    height: 100%;
}
    .crafting-table-letters-container::-webkit-scrollbar {
        width: calc(0.25vw + 0.2vh + 4px);
    }

    .crafting-table-letters-container::-webkit-scrollbar-track {
        background: var(--back-3);
        border-radius: calc(0.1vw + 0.04vh + 2px);
    }

    .crafting-table-letters-container::-webkit-scrollbar-thumb {
        background: var(--front-2);
        border-radius: calc(0.1vw + 0.04vh + 2px);
    }

        .crafting-table-letters-container::-webkit-scrollbar-thumb:hover {
            background: var(--front-3);
        }

.crafting-table-letter-item {
    background-color: darkblue;
    height:calc(2vw + 5vh + 20px);
}
.letter-delete-button {
    height: 45%;
    aspect-ratio:1/1;
}