@inherits LayoutComponentBase
@namespace MadeLib.Shared
@inject IJSRuntime JSRuntime
@inject MadeLib.Src.ThemeCollection themeCollection


@code {
    protected override async Task OnInitializedAsync()
    {
        await SetTheme();
    }

    private async Task SetTheme()
    {
        await JSRuntime.InvokeVoidAsync("setTheme", themeCollection.CurrentTheme);
    }
}

<div class="page" @onload="SetTheme">
   <p>Layout start</p>
    <main>
        @Body
    </main>
    <p>Layout end</p>
</div>
