@inherits LayoutComponentBase
@namespace MadeLib.Shared
@inject IJSRuntime JSRuntime
@inject MadeLib.Src.ThemeCollection themeCollection


@code {
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("setTheme", themeCollection.CurrentTheme);
    }
}

<div class="page">
    <main>
        @Body
    </main>
</div>
