@inherits LayoutComponentBase
@namespace MadeLib.Shared
<PageTitle>Made_Blazor</PageTitle>

<div class="page">
    <div style="height:10vh; width:10vw; background-color:var(--back)"></div>
    <main>
        @Body
    </main>
</div>
