.tabs-header {
    display: flex;
    gap: 5px;
}

    .tabs-header button {
        padding: 10px 20px;
        border: none;
        background-color: #eee;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .tabs-header button:hover {
            background-color: #ddd;
        }
