body {
    background-color: var(--back);
}

.button-container {
    background-color: transparent;
    display: grid;
    position: absolute;
    width: calc(9vw + 4vh + 80px);
    height: calc(13vh + 45px + 4vw);
    bottom: calc(2vh + 10px);
    left: 50%;
    transform: translateX(-50%);
    row-gap: 4%;
    grid-template-rows: 1fr 1fr 1fr;
}


.main-btn {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: calc(4px + 1.6vw + 0.6vh) 1fr;
    grid-column-gap: calc(3vh + 8px - 1.2vw);
    cursor: pointer;
    transition: 0.08s;
}
    .main-btn:hover {
        transform: scale(1.02);
    }
    .main-btn:hover .btn-text {
        color: var(--front-3);
    }

    .main-btn:hover .svg-path {
        fill: var(--front-3);
    }

.btn-icon {
    height: calc(67% + 2px);
    align-self: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    transition: 0.08s;
}

.btn-text {
    font-size: calc(1.5vw + 1.5vh + 6px);
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--front);
    font-family: 'Figtree';
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.08s;
}

.svg-path {
    fill: var(--front);
}
