.collections-page-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(4vh + 0.8vw + 40px) 1fr calc(3.8vh + 0.6vw + 36px);
}

.collections-page-top-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr calc(22px + 25vw);
    padding-left: calc(8vw - 40px - 1vh);
    padding-right: calc(8vw - 40px - 1vh);
    gap: calc(2px + 1vw);
    align-items: center;
}

.collection-tab {
    font-size: calc(0.16vh + 0.37vw + 9px);
    font-weight: 400;
    background-color: var(--back-2);
    height: calc(10px + 1.25vh + 1.55vw);
    display: flex;
    color: var(--front);
    justify-content: center;
    align-items: center;
    font-size: calc(0.5vh + 0.6vw + 8px);
    color: var(--front);
    outline: none;
    cursor: default;
    font-family: 'Bahnschrift';
    border: 1px solid transparent;
    border-radius: calc(0.17vw + 0.17vh + 2px);
}

    .collection-tab:hover {
        background-color: var(--back-3);
    }

.collection-content-container {
    overflow-y: auto;
    width: 98%;
    padding-right: 0.6%;
}

    .collection-content-container::-webkit-scrollbar {
        width: calc(0.2vw + 0.2vh + 5px);
    }

    .collection-content-container::-webkit-scrollbar-track {
        background: var(--back-3);
        border-radius: calc(0.08vw + 0.02vh + 2px);
    }

    .collection-content-container::-webkit-scrollbar-thumb {
        background: var(--front-2);
        border-radius: calc(0.08vw + 0.02vh + 2px);
    }

        .collection-content-container::-webkit-scrollbar-thumb:hover {
            background: var(--front-3);
        }

.collections-search-container {
    justify-self: right;
    width: 94%;
    height: calc(14px + 1.25vh + 1.55vw);
    background-color: var(--back-2);
    border-radius: calc(100vw + 100vh);
    display: grid;
    align-items: center;
    grid-template-columns: calc(11px + 0.7vh + 0.45vw) 1fr;
    gap: calc(2px + 0.2vw + 0.2vh);
    padding-left: calc(8px + 0.5vw);
}

.collections-search-input {
    width: 95%;
    height: 100%;
    border: none;
    background: none;
    font-size: calc(0.5vh + 0.6vw + 8px);
    color: var(--front);
    outline: none;
    font-family: Bahnschrift;
}

.collections-search-icon {
    width: 100%;
    aspect-ratio: 1/1;
    fill: var(--front);
    pointer-events: none;
}

.collections-page-bottom-container {
    background-color: darkblue;
    display: grid;
    grid-template-rows: 1.2fr 1fr;
}

.add-new-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.collection-item {
    width: 99%;
    display: grid;
    grid-template-columns: 1fr calc(11px + 0.4vh + 1.5vw) calc(11px + 0.4vh + 1.5vw);
    height: calc(40px + 1vh + 1vw);
}

.collection-item-button {
    align-self: center;
    width: 90%;
    padding: 2px;
    aspect-ratio: 1/1;
    border: 1px solid transparent;
    border-radius: 30%;
}

.collection-item-edit-button path {
    fill: var(--front);
}

.collection-item-button path {
    stroke: var(--front);
}

.collection-item-button:hover {
    background-color: var(--back-3);
    fill: var(--front-2);
}

    .collection-item-button:hover path {
        stroke: var(--front-2);
    }
