.project-history-label {
    color: var(--front);
    position: absolute;
    top: 4%;
    left: 6%;
}

.history-items-container {
    width: 99%;
    height: 80%;
    background-color: wheat;
    overflow-y: auto;
}

    .history-items-container::-webkit-scrollbar {
        width: calc(0.25vw + 0.2vh + 4px);
    }

    .history-items-container::-webkit-scrollbar-track {
        background: var(--back-3);
        border-radius: calc(0.1vw + 0.04vh + 2px);
    }

    .history-items-container::-webkit-scrollbar-thumb {
        background: var(--front-2);
        border-radius: calc(0.1vw + 0.04vh + 2px);
    }

        .history-items-container::-webkit-scrollbar-thumb:hover {
            background: var(--front-3);
        }

.history-item {
    height: 6vh;
    background-color: blanchedalmond;
    font-size: 18px;
    margin-top: 3px;
    cursor: pointer;
}

.history-item-date {
    color: chartreuse;
}

.history-item-type {
    color: chocolate;
}

.history-item-delete-button {
    color: darkmagenta;
}
