body {
    background-color: var(--back);
    margin: 0;
}

#sortable {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    padding: 0;
    font-size: 0;
    list-style-type: none;
    white-space: nowrap;
    overflow-y: auto;
}


    #sortable::-webkit-scrollbar {
        height: calc(40% + 9px);
    }

    #sortable::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--front-2);
    }
    #sortable::-webkit-scrollbar {
        width: calc(0.3vw + 6px);
    }

    #sortable::-webkit-scrollbar-thumb:hover {
        background-color: var(--bright);
       
    }


.tab-item {
    font-size: calc(0.22vh + 0.3vw + 10px);
    font-weight: 400;
    background-color: var(--back-2);
    border: calc(0.04vw + 1px) solid var(--back-3);
    float: left;
    height: 90%;
    display: inline-flex;
    cursor: pointer;
    padding-right: 0;
}

    .tab-item path {
        display: none;
    }

    .tab-item:hover {
        background-color: var(--back-3);
    }

        .tab-item:hover path {
            display: block;
        }

    .tab-item label {
        height: 100%;
        text-decoration: none;
        align-self: center;
        color: var(--front);
        font-family: 'Bahnschrift';
        display: flex;
        align-items: center;
        padding-left: calc(0.3vw + 5px);
    }

.tabsContainer {
    margin-top: calc(10px + 1.4vh);
    background-color: var(--back-2);
    height: calc(0.8vh + 25px);
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.action-choosing-part {
    background-color: var(--back-2);
    padding-top: calc(10px + 1.4vh);
    width: calc(4vw + 100px + 7vh);
    height: calc(98.6vh - 10px);
    position: relative;
    left: 0;
}

.modification-part {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(96vw - 100px - 7vh);
    max-width: calc(96vw - 110px - 6vh);
    height: 100vh;
}

.tabPage {
    height: calc(97.4vh - 25px - 30px);
    clear: both;
}

.left-panel-btn {
    margin-top: calc(0.1vw);
    width: 94%;
    height: calc(32px + 2.2vh);
    display: flex;
    cursor: pointer;
    margin-left: 2.5%;
    border: 1px solid transparent;
}

    .left-panel-btn:hover {
        background-color: var(--back-3);
       
        border-radius:calc(0.2vw + 0.2vh + 2px);
    }
    .left-panel-btn:hover .action-label {
        color: var(--front-2);
    }
    .left-panel-btn:hover .left-panel-btn-icon-fill path {
        fill: var(--front-2);
    }
    .left-panel-btn:hover .left-panel-btn-icon-stroke path {
        stroke: var(--front-2);
    }

.left-panel-btn-icon {
    margin-left: calc(1px + 0.2vw + 0.1vh);
    height: calc(90% - 7px);
    align-self: center;
    aspect-ratio: 1/1;
}

.left-panel-btn-icon-big {
    height: calc(72% - 7px);
    margin-left: calc(1px + 0.2vw + 0.1vh);
    padding-right: calc(2% + 5px);
    align-self: center;
    aspect-ratio: 1/1;
}

.left-panel-btn-icon-fill path {
    fill: var(--front);
}
/*.left-panel-btn-icon-fill:hover path {
    fill: var(--front-2);
}*/

.left-panel-btn-icon-stroke path {
    stroke: var(--front);
}
/*.left-panel-btn-icon-stroke:hover path {
    stroke: var(--front-2);
}*/

.action-label {
    font-family: 'Bahnschrift';
    font-size: calc(1vh + 0.5vw + 7px);
    align-self: center;
    font-weight: 400;
    color: var(--front);
    margin-left: calc(3px + 0.2vw + 0.1vh);
    padding-top: calc(0.24vh + 1px);
}

.bottom-action-btns-container {
    position: absolute;
    width: 100%;
    bottom: calc(1vh - 4px);
    display: flex;
    flex-direction:column;
    row-gap: calc(0.1vh + 1px);
}
.tab-cross-btn {
    height: calc(13px + 0.9vh);
    aspect-ratio: 1/1;
    align-self: center;
    margin-top: 0.08vh;
    margin-left: 3px;
}

    .tab-cross-btn:hover path {
        fill: var(--front-3);
        
    }

    .tab-cross-btn path {
        fill: var(--front);
    }

.active-tab label {
    color: var(--front-3);
}