.collections-page-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(4vh + 35px + 2vw) 1fr calc(3.8vh + 0.6vw + 36px);
}
.collection-tabs-container {
    display: grid;
    padding-left: calc(12vw - 30px - 1vh);
    padding-right: calc(12vw - 35px - 1vh);
    margin-top: calc(1vh + 10px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr calc(13px + 0.75vh + 0.52vw);
    gap: calc(2px + 1vw);
    align-items: center;
}
.collection-tab {
    font-weight: 400;
    background-color: var(--back-2);
    height: calc(10px + 1.25vh + 1.55vw);
    display: flex;
    color: var(--front);
    justify-content: center;
    align-items: center;
    font-size: calc(0.5vh + 0.6vw + 8px);
    color: var(--front);
    outline: none;
    cursor: default;
    font-family: 'Bahnschrift';
    border: 1px solid transparent;
    border-radius: calc(0.17vw + 0.17vh + 2px);
}

    .collection-tab:hover {
        background-color: var(--back-3);
    }

.collection-content-container {
    overflow-y: auto;
    width: 98%;
    padding-right: 0.6%;
}

    .collection-content-container::-webkit-scrollbar {
        width: calc(0.2vw + 0.2vh + 5px);
    }

    .collection-content-container::-webkit-scrollbar-track {
        background: var(--back-3);
        border-radius: calc(0.08vw + 0.02vh + 2px);
    }

    .collection-content-container::-webkit-scrollbar-thumb {
        background: var(--front-2);
        border-radius: calc(0.08vw + 0.02vh + 2px);
    }

        .collection-content-container::-webkit-scrollbar-thumb:hover {
            background: var(--front-3);
        }

.collections-search-icon {
    width: 100%;
    aspect-ratio: 1/1;
    fill: var(--front);
    border-radius: 50%;
    border-width: 0px;
    padding: calc(50% - 4px);
    background-color: var(--back-2);
}
.collections-search-icon:hover {
    background-color:var(--back-3);
}

.collections-page-bottom-container {
    background-color: darkblue;
    display: grid;
    grid-template-rows: 1.2fr 1fr;
}

.add-new-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.collection-item {
    width: 94%;
    min-height: 52px;
    height: calc(25px + 5.5vh + 0.9vw);
    background-color: var(--back);
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: calc(0.14vw + 0.12vh + 3px);
    align-items: center;
    display: grid;
    grid-template-columns: 5fr 4fr calc(8vw + 10px);
    cursor: pointer;

}

    .collection-item:hover {
        background-color: var(--back-2);
        color: var(--front-3);
    }
        .collection-item:hover .arrow-icon {
            opacity: 1;
            transform: translateX(calc(2vw + 5px + 0.5vh)) scale(1.1);
            fill: var(--front-3);
        }

        .collection-item:hover .collection-item-label {
            font-size: calc(0.55vh + 0.65vw + 8px);
            color: var(--front-3);
        }
.collection-item-label {
    cursor: inherit;
    font-weight: 400;
    color: var(--front);
    font-family: 'Figtree';
    font-size: calc(0.5vh + 0.6vw + 8px);
    transition: 0.25s;
}
.arrow-icon {
    justify-self: left;
    height: calc(8px + 46%);
    fill: var(--front);
    opacity: 0;
    transform: translateX(0) scale(1);
    transition: 0.25s;
}
.collection-item-button {
    height: calc(10px + 41%);
    padding: 5%;
    aspect-ratio: 1/1;
    border: 1px solid transparent;
    border-radius: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection-item-input {
    height: calc(7px + 40%);
    width: 95%;
    margin-left: 2%;
    background-color: var(--back-2);
    border: 1px solid transparent;
    border-radius: calc(3px + 0.05vw + 0.1vh);
    font-family: 'Figtree';
    font-size: calc(0.88vh + 0.6vw + 7px);
    font-weight: 300;
    color: var(--front);
    outline: none;
}

    .collection-item-input:focus {
        background-color: var(--back-3);
    }
