body {
    background-color: var(--back);
    margin: 0;
}

#sortable {
    width: 100%;
    margin-left: 0;
    padding: 0;
    font-size: 0;
    list-style-type: none;
    white-space: nowrap;
}

.tab-item {
    font-size: calc(0.22vh + 0.4vw + 8px);
    font-weight: 400;
    background-color: var(--back-2);
    border: calc(0.04vw + 1px) solid var(--back-3);
    float: left;
    height: 90%;
    display: flex;
    cursor: pointer;
    padding-right: 0;
}

    .tab-item path {
        display: none;
    }

    .tab-item:hover {
        background-color: var(--back-3);
    }

        .tab-item:hover path {
            display: block;
        }

    .tab-item a {
        height: 100%;
        text-decoration: none;
        align-self: center;
        color: var(--front);
        font-family: 'Bahnschrift';
        display: flex;
        align-items: center;
        padding-left: calc(0.3vw + 5px);
    }

.tabsContainer {
    margin-top: calc(10px + 1.4vh);
    background-color: var(--back-2);
    height: calc(0.8vh + 25px);
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.action-choosing-part {
    background-color: var(--back-2);
    padding-top: calc(10px + 1.4vh);
    width: calc(9.5vw + 80px);
    height: calc(98.6vh - 10px);
    position: relative;
    left: 0;
}

.modification-part {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(90.5vw - 80px);
    height: 100vh;
}

.tabPage {
    height: calc(97.4vh - 25px - 30px);
    clear: both;
}

.left-panel-btn {
    border: 1px solid red;
    margin-top: calc(0.1vw + 2px);
    width: 100%;
    height: calc(32px + 2.2vh);
    display: flex;
    cursor: pointer;
}

    .left-panel-btn:hover {
        border-left: var(--front-2) calc(0.07vw + 2px) solid;
    }

.left-panel-btn-icon {
    margin-left: calc(1px + 0.2vw + 0.1vh);
    height: calc(72% - 6px);
    align-self: center;
    aspect-ratio: 1/1;
}

.left-panel-btn-icon-fill path {
    fill: var(--front-2);
}

.left-panel-btn-icon-stroke path {
    stroke: var(--front-2);
}

.action-label {
    font-family: 'Bahnschrift';
    font-size: calc(1.4vh + 0.55vw + 2px);
    height: 100%;
    font-weight: 400;
    color: var(--front-2);
    margin-left: calc(3px + 0.2vw + 0.1vh);
    background-color: firebrick;
}

.bottom-action-btns-container {
    position: absolute;
    width: 100%;
    bottom: calc(1vh - 4px);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: calc(0.1vh + 1px);
}

.bottom-action-btn-icon {
    height: 58%;
    aspect-ratio: 1/1;
    align-self: center;
    justify-self: center;
}

    .bottom-action-btn-icon path {
        fill: var(--front-2);
    }

.history-btn {
    height: calc(92% - 12px);
    margin-left: 7%;
    aspect-ratio: 1/1;
    align-self: center;
}

.settings-btn {
    height: calc(94% - 10px);
    margin-left: 4%;
    aspect-ratio: 1/1;
    align-self: center;
}

.bottom-action-label {
    font-family: 'Bahnschrift';
    font-size: calc(0.74vh + 0.95vw + 2px);
    align-self: center;
    font-weight: 400;
    color: var(--front-2);
    margin-left: calc(15px - 0.3vw);
}

.tab-cross-btn {
    height: calc(9px + 1.3vh);
    aspect-ratio: 1/1;
    align-self: center;
    margin-top: 0.08vh;
    margin-left: 0;
}

    .tab-cross-btn:hover path {
        stroke: var(--front-3);
        stroke-width: 2.6;
    }

    .tab-cross-btn path {
        stroke: var(--front);
        stroke-width: 2;
    }
