.project-history-label
{
    color:var(--front);
    position:absolute;
    top:4%;
    left:6%;
}
.history-items-container
{
    width:99%;
    height:80%;
}
.history-item{
    height:6vh;
    background-color:blanchedalmond;
    font-size:18px;
    margin-top:3px;
    cursor:pointer;
}