body {
    background-color: var(--back);
}

.project-header {
    position: absolute;
    top: calc(3.8vh + 12px);
    left: calc(2vw + 12px);
    text-align: center;
    display: inline-block;
    color: var(--front);
    font-family: 'Figtree';
    letter-spacing: 2px;
    font-size: calc(2.3vh + 2vw + 8px);
    font-weight: 600;
}

.projects-container {
    position: absolute;
    top: calc(9.5vh + 26px + 3vw);
    left: calc(2vw + 10px);
    width: calc(100% - 32px - 32vw);
    height: 65%;
    overflow-y: auto;
}

.projects-container::-webkit-scrollbar {
    width: calc(0.25vw + 0.2vh + 4px);

}

.projects-container::-webkit-scrollbar-track {
    background: var(--back-3);
    border-radius: calc(0.1vw + 0.04vh + 2px);
}

.projects-container::-webkit-scrollbar-thumb {
    background: var(--front-2);
    border-radius: calc(0.1vw + 0.04vh + 2px);
}

.projects-container::-webkit-scrollbar-thumb:hover {
    background: var(--front-3);
}

.project-item {
    min-height: 60px;
    height: calc(32px + 5.4vh + 1vw);
    margin-left: 0.5%;
    width: 96%;
    margin-top: 0.6%;
    background-color: var(--back);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 8fr calc(6vw + 48px) calc(3.8vw + 12px);
    grid-template-areas:
        "name name vrsn more"
        "path path path path";
    border-radius: calc(0.12vw + 0.07vh + 3px);
    cursor: pointer;
}

    .project-item:hover {
        background-color: var(--back-2);
    }

.project-text-name {
    grid-area: name;
    height: 100%;
    color: var(--front-3);
    font-family: 'Bahnschrift';
    font-size: calc(1.64vh + 1.47vw);
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-top: 0.4vh;
    margin-left: 1.8%;
    width: 98%;
    cursor: pointer;
}

.project-text-path {
    grid-area: path;
    height: 80%;
    color: var(--front);
    font-family: 'Figtree';
    font-size: calc(0.5vh + 0.5vw + 4px);
    text-align: left;
    margin-top: 2px;
    margin-left: 1.8%;
    width: 92%;
    cursor: pointer;
}

.project-text-version {
    grid-area: vrsn;
    color: var(--front-2);
    font-family: 'Bahnschrift';
    margin-top: 7px;
    font-size: calc(0.9vh + 0.9vw + 3px);
    text-align: right;
    font-weight: 600;
    cursor: pointer;
}

.project-more-button {
    margin-left: 24%;
    margin-top: calc(1px + 5%);
    grid-area: more;
    width: calc(1.3vw + 9px);
    aspect-ratio: 1/1;
    cursor: pointer;
    cursor: pointer;
}

.project-more-button path {
    fill: var(--front-2);
}

.project-more-button:hover path {
    fill: var(--bright-2);

}

.corrupted-sign {
    margin-top: 8%;
    grid-area: vrsn;
    width: calc(6px + 40%);
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
    right: -26%;
}
.corrupted-sign-line
{
    stroke:var(--warning-main);
}
.corrupted-sign:hover .corrupted-sign-line {
    stroke:var(--warning-bright);
    stroke-width: 2.4;

}

.corrupted-sign-dialog {
    position: absolute;
    top: 0;
    bottom: 10%;
    width: 46%;
    background-color: var(--back-2);
    border-radius: calc(0.45vh + 0.45vw);
    border-width: calc(0.05vh + 0.05vw + 4px);
    border-color: var(--warning-bright);
}
dialog:focus {
    outline: none;
  }
.corrupted-sign-dialog-container {
    display: grid;
    grid-template-rows: 8fr 1fr;
    grid-template-columns: 9fr 2.2fr 1fr 2.2fr 1fr;
    grid-template-areas:
        "txt txt txt txt txt"
        ".  btn-cncl .  btn-dlt . ";
}

.csd-txt {
    grid-area: txt;
    font-size: calc(1.1vh + 1.1vw);
    color: var(--front);
    font-family: 'Bahnschrift';
    font-weight: 400;
    text-align: justify;
}

.csd-btn {
    background-color: var(--bright);
    width: 100%;
    grid-area: btn-cncl;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Figtree';
    font-size: calc(0.75vh + 0.52vw + 2px);
    letter-spacing: 0.1vw;
    color: var(--front);
}

.csd-btn:hover {
    background-color: var(--bright-3);
    cursor: pointer;
}

.csd-btn-cncl {
    grid-area: btn-cncl;
}

.csd-btn-dlt {
    grid-area: btn-dlt;
}

.action-btns-container {
    position: absolute;
    width: calc(76px + 15vw);
    min-width: 200px;
    height: calc(21vh + 6vw + 120px);
    right: calc(7vw - 26px);
    top: 12%;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-gap: calc(5px + 1vh);
}

.work-starting-text {
    height: 100%;
    font-family: 'Figtree';
    display: flex;
    align-items: center;
    color: var(--front);
    font-size: calc(1.25vh + 1.25vw + 4px);
    letter-spacing: 2px;
    margin-top: 0;
}

.action-btn {
    height: 100%;
    background-color: var(--back-2);
    border-radius: calc(0.15vh + 0.15vw + 2px);
    display: grid;
    display: grid;
    grid-template-rows: 1.8fr 1fr 1fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "icn hdr"
        "icn inf"
        "icn inf";
    cursor: pointer;
    transition: 0.12s;
}

    .action-btn:hover {
        transform: scale(1.01);
        cursor: pointer;
        background-color: var(--back-3);
    }

.action-name {
    height: 100%;
    grid-area: hdr;
    display: flex;
    align-items: end;
    color: var(--front-3);
    font-family: 'Bahnschrift';
    font-size: calc(0.8vw + 0.6vh + 6px);
    cursor: pointer;
}

.action-info {
    padding-right:5px;
    margin-top: 0;
    grid-area: inf;
    color: var(--front);
    font-family: 'Bahnschrift';
    font-size: calc(0.62vw + 0.52vh + 2px);
    cursor: pointer;
}

.action-icon {
    align-self: center;
    grid-area: icn;
    width: 75%;
    aspect-ratio: 1/1;
    margin-left: 14%;
    cursor: pointer;
}

.action-icon path {
    stroke: var(--front-3);
}