:root {
    --back: #272527;
    --back-2: #2F2E37;
    --back-3: #3B3946;
    --front: #D8D3DC;
    --front-2: #D4BFFD;
    --front-3: #A782EA;
    --bright: #8862D5;
    --bright-2: #7E54D5;
    --bright-3: #5A39AD;
    --warning-main: #7E032A;
    --warning-bright: #930336;
}
