:root {
    --back: #fd35ff;
    --back-2: #fd35ff;
    --back-3: #fd35ff;
    --front: #fd35ff;
    --front-2: #fd35ff;
    --front-3: #fd35ff;
    --bright: #fd35ff;
    --bright-2: #fd35ff;
    --bright-3: #fd35ff;
    --warning-main: #fd35ff;
    --warning-bright: #fd35ff;
}
