@code {
    [Parameter] public string IconClass { get; set; } = "";
    [Parameter] public string SvgIcon { get; set; } = "";
    [Parameter] public string Label { get; set; } = "";
}

<div class="new-modification-btn">
    @((MarkupString)SvgIcon)
    <p class="action-label">@Label</p>
</div>
