
@code {
    [Parameter]
    public EventCallback<string> OnTabSelected { get; set; }

    private string WelcomeTab => "Welcome";
    private string ModifyTags => "Tags";
    private void SelectTab(string tabName)
    {
        OnTabSelected.InvokeAsync(tabName);
    }
}


<div class="tabs-header">
    <button @onclick="() => SelectTab(WelcomeTab)">WelcomeTab</button>
    <button @onclick="() => SelectTab(ModifyTags)">ModifyTags</button>

</div>